
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticketing Website</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <style>
  </style>
</head>
<body>
  <header>
     <!-- 로고 이미지 추가 -->
     <img src="/public/images/ver2_black.png" alt="Ticketing Website Logo">

    <h1>Welcome to our Ticketing Website</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <!-- 로그인 상태에 따라 다르게 표시 -->
        <% if (user) { %>
          <li><a href="/profile">안녕하세요, <%= user.userName %>님!</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </nav>
  </header>

  <main>
    <section id="events">
      <h2>티켓 목록</h2>
      <% if (events.length > 0) { %>
        <ul>
          <% events.forEach(event => { %>
            <li>
              <h3><%= event.name %></h3>
              <p><%= event.date %></p>
              <p><%= event.title %></p>
              <a href="/events/<%= event.id %>">Details</a>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No upcoming events</p>
      <% } %>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Ticketing Website</p>
  </footer>
</body>
</html>
